

.required-span{
    color : #F00;
    font-size: 20px;
}

::placeholder {
    color: #b1b1b1;
    opacity: 1 !important;/* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #b1b1b1 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #b1b1b1 !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b1b1b1 !important;
 }

.tooltip-inner{
    max-width: 350px ;
    /*background-color: #ff6868;*/
}

.avatar-container  {
    width: 35px;
    margin: 12px;
}
.avatar-container-p  {
    margin: 0 8px;
    text-align: center;
    color: black;
}

.myProfileMenu ul.dropdown-menu {
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.myProfileMenu ul.dropdown-menu .menu{
    padding: 0 15px;
}

.myProfileMenu ul.dropdown-menu .menu li{
    margin-bottom: 10px;
}

.myProfileMenu ul.dropdown-menu .menu li:first-child{
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.avatar-container-li  a{
    color: #586871;
    font-size: 14px;
}

.avatar-container-li  a:hover{
    color: #e23a7e;
}


.mar-t-b-10{
    margin-left: 10px;
    margin-right: 10px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    padding: 8px 12px;
    height: 50px!important;
    width:calc(100% - 26px);
}
.photo-upload {
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.upload-btn-wrapper .btnr {
    border: 1px solid gray;
    color: gray;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 1px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}
.upload-btn-wrapper .btnr + span {
    padding: 5px;
    font-weight: normal;
}

.upload-btn-wrapper input[type=file] {
    font-size: 42px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
#fileUpload{
    display: none; /* do not display the actual file upload button */
}

@media screen and (max-width: 600px) {
    .sliderText  {
        visibility: hidden;
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .sliderBg  {
       min-height: 0px !important;
    }
}

.development img{
    height:  38px !important;
    width:   38px !important;

}
.fake-input { position: relative; width:100%; }
.fake-input input { border:none;background:#fff; display:block; width: 100%; box-sizing: border-box }
.fake-input img { position: absolute; top: -10px;
    left: 25%;display: none;border-radius: 5px }


.mid-hint{
    margin: 3px;
    border-radius: 5px;
    background-color: #f8d7d9;
    color: #721c23;
    font-size: 12px;
    padding: 5px;
    text-align: center;

}

.list-item {
    display: inline-block !important;
}

.scrollDiv .nav-pills {
    overflow-x: auto;
    width: 85%;
    display: block;
    white-space: nowrap;
}
.scrollDiv .nav-pills .nav-item {
    display: inline-block;
    margin-bottom: 10px;
}

.startsBlock .stars i {
    color: #646464;
}
.startsBlock .stars i.active {
    color: #efce4a;
}

.teacherCotent .content.w-78 .institutesContainer .institutes .courserBlock .info {
    flex-wrap: wrap;
}

.teacherCotent .content.w-78 .institutesContainer .institutes .courserBlock .courseText .rightDiv {
    width: 27%;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu, .bootstrap-select > .dropdown-toggle .dropdown-menu {
    max-height: 200px !important;
}

@media(max-width: 767px) {
    .scrollDiv {
        flex-direction: column;
    }
    .scrollDiv .nav-pills {
        width: 100%;
    }
    .scrollDiv .nav-pills .nav-item {
        margin-right: 12px;
    }
    .scrollDiv .nav-pills .nav-item .nav-link {
        padding: 0 0 2px 0;
        font-size: 13px;
    }
    .scrollDiv .viewAll {
        font-size: 13px;
    }

    .myCourse .courseVedio .vedioCont .controllers .togglePlay, .myCourse .courseVedio .vedioCont .controllers .setVolume {

        margin: 0 5px;
    }

    body .courseContent .info {
        flex-wrap: wrap;
    }

    body .recommended .viewAll {
        margin-bottom: 20px;
    }

    body #loginModal .modal-content .modal-body .socialBtns .orangeBtn.linkedIn, body #signUpModal .modal-content .modal-body .socialBtns .orangeBtn.linkedIn {

        margin-top: 0;
    }

    .cartContainer .payment, .cartContainer .cartItems {
        display: flex;
         flex: unset;
        flex-direction: column;
        width: 100%;
    }

    body .resultsContainer .results .institutesContainer .institutes .courserBlock .courseText .rightDiv {
        width: 100% !important;
    }

}


@media(min-width: 768px) and (max-width: 991px) {
    .scrollDiv .nav-pills {
        width: 75%;
    }
    .categoriesLinks {
        justify-content: flex-start !important;
    }
}
@media(min-width: 992px) and (max-width: 1199px) {

    .mr-27 {
        margin-right: 14px;
    }

    .scrollDiv .nav-pills {
        width: 75%;
    }
    .categoriesLinks {
        justify-content: flex-start !important;
    }
}

.teacherCotent .content .lightGrayBg .institutes .tabCourse .courseText .rightDiv .startsBlock .stars span
{
    font-size: 10px!important;
    margin: 2px!important;

}
.teacherCotent .content .lightGrayBg .institutes .tabCourse .courseText .rightDiv .startsBlock .stars i
{
    /*font-size: 10px!important;*/
    /*margin: 2px!important;*/

}
.myCourse .courseVedio .vedioCont .controllers .dropCont .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn), .myCourse .courseVedio .vedioCont .controllers .dropCont .bootstrap-select > .dropdown-toggle {
    font-size: 12px;
    height: 25px !important;
}
.myCourse .courseVedio .vedioCont .controllers .dropCont .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu li a, .myCourse .courseVedio .vedioCont .controllers .dropCont .bootstrap-select > .dropdown-toggle .dropdown-menu li a {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myCourse .courseVedio .vedioCont .controllers .dropCont .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .dropdown-menu li a span, .myCourse .courseVedio .vedioCont .controllers .dropCont .bootstrap-select > .dropdown-toggle .dropdown-menu li a span {
    margin: 0;
}



/*.resultsContainer .results .institutesContainer .institutes .courserBlock .courseText .rightDiv .startsBlock .stars{    display: flex;!important;}*/

.courseContent #accordion .card .card-header button .headInfo span:first-child{
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.timer{
    float: left;
    padding: 5px;
    color: #0a0e45;
    border-radius: 20px;
    width: 50px;
    text-align: center;
}

input[type=range] {
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 6px;
    height: 6px;


}

input[type="range"]::-moz-range-track {
    border: none;
    background: none;
    outline: none;
}

input[type=range]:focus {
    outline: none;
    border: none;
}

input[type=range]::-webkit-slider-thumb {
    /*-webkit-appearance: none !important;*/
    background-color: #df7164;
    height: 13px;
    border-radius: 50%;
}

input[type=range]::-moz-range-thumb {
    /*-moz-appearance: none !important;*/
    background-color: #df7164;
    border: none;
    height: 13px;
    border-radius: 50%;
}

.languageBtn{
    color: #bbbbbb; border: 1px solid #4D4D4D;border-radius: 10px;padding: 4px
}
.register{
    height: 260px!important;
}

.minH{
    min-height: 40vh
}
/*form .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn), form .bootstrap-select > .dropdown-toggle{*/
/*    position: relative !important;*/
/*}*/
/*.dropdown.bootstrap-select.w-100 > small {*/
/*    position: absolute;*/
/*    bottom: -20px;*/
/*    right: 0;*/
/*    font-size: 12px;*/
/*}*/

.is-favourite{
    background-color: #e13a7d !important;
    color: #F2F2F2  !important;
}
.favourites{
    background-color: #F2F2F2 !important;
    color: #e13a7d  !important;
}

.is-cart{
    background-color: #ff7600 !important;
    color: #F2F2F2  !important;
}
.carts{
    background-color: #F2F2F2 !important;
    color: #ff7600  !important;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.allDesc{
    line-height: 30.5px;
}
.ajax-loader {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
    display: none;
}
.ajax-loader img {
    position: absolute;
    z-index: 100;
}

.imp-width{
    width: 100%!important;
}
/*header .mobileSearch {*/
/*    display: none!important;*/
/*}*/

#search-advanced > ul > li.active{
    margin: 10px !important;
    font-size: 12px !important;
}


.header{
    display: unset !important;
}
/*.searchDiv a{*/
/*    position: unset!important;*/

/*    !* right: auto; *!*/
/*    !* left: 25px; *!*/
/*    transform: none !important;*/
/*    !* margin: 3px; *!*/
/*    text-align: center !important;*/
/*    border-bottom: .5px solid #ddd !important;*/
/*    !* width: 80%; *!*/
/*    margin-bottom: 5px !important;*/
/*    line-height: 2.5rem !important;*/
/*}*/


.coursesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start !important;
    align-items: center;
}

.coursesContainer .item{
    margin: 5px;
}


/*.catLink:hover > ul {*/
/*    visibility: visible;*/
/*}*/
/*.sub-menu:hover > ul{*/
/*    visibility: visible;*/
/*}*/

/*header .catLink ul li{*/
/*    padding-top: 10px!important;*/
/*    padding-right: 10px!important;*/
/*}*/

/*header .catLink ul.sub-menu{*/
/*    padding: 0px !important;*/
/*}*/

/*body > header > div > div.menu.d-flex.flex-wrap.align-items-center > div.catLink.mr-27 > ul > li:nth-child(1) > a > i{*/
/*    padding: 5px;*/
/*}*/
header .catLink ul.sub-menu , header .catLink ul.sub-menu ul{
    padding: 20px 0 !important;
}
header .catLink ul li{padding: 0 20px !important;}

.socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials a ,li{
    margin: 0 0 10px 10px;
    font-size: 20px;
}

body > div.container > footer > div.socials > a  > i{
    color: #FF7600;
}

#hidden {
    display: none;
}

#visible:hover  + #hidden{
    display: flex;
}
#hidden{
    justify-content: center;
    align-items: center;
    background: white;
    border: .25px solid #cccc;
    top: 0;
    position: absolute; z-index: 99;
}

#hidden > li{
    padding: 10px;
    margin: 0;
    background: transparent;
    border: 0;
}
header .cartDiv a.twitter:hover i{
    padding: 5px!important;
    margin: 0;
    background: transparent;
    border: 0;
    font-size: 30px;
}
#hidden > i > a > li{
    margin: 0!important;
}
#hidden > i {
    border: 0px !important;
    display: unset !important;
}
.nav--main ul {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 16px;
    list-style: none;
}

.nav--main ul li {
    margin: 0;
    padding: 0;
    display: block;
}

@media (min-width: 40em) {
    .nav--main ul li {
        display: inline-block;
        margin-right: 1em;
    }
}

.nav--main ul li a {
    color: rgb(90, 114, 131);
    text-decoration: none;
}

.btn--menutoggle {
    color: #FFF;
    display: block;
    padding: 1em;
    border: 1px solid rgb(90, 114, 131);
    background: rgb(22, 33, 41);
    text-decoration: none;
    margin-bottom: 1rem;
}

@media (min-width: 40em) {
    a.btn--menutoggle {
        display: none
    }
}

a.btn--menutoggle-active {
    background: rgb(203, 57, 27);
}

.nav--responsive {
    display: none;
}

@media (min-width: 40em) {
    .nav--main .nav--responsive {
        display: block
    }
}

body > div.teacherCotent.d-flex > div.content.w-78 > div.lightGrayBg.pb-4 > div > div.topCat.pt-2 > div > a {
    margin: 5px 5px 0 0 ;
}

.topCat .categories {
    justify-content: flex-start!important;
}

body .ui-autocomplete {
    /* font-family to all */
    font-size: 10px!important;
}

body .ui-autocomplete .ui-menu-item .ui-corner-all {
    /* all <a> */
    font-size: 10px!important;
}

body .ui-autocomplete .ui-menu-item .ui-state-focus {
    /* selected <a> */
    font-size: 10px!important;
}
.ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: #6693bc !important;
    font-weight: bold !important;
    color: #ffffff !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: none!important;
    background: grey;
    font-weight: normal;
    color: #ffffff;
}



.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active {
    border: none!important;
    background: grey;
    font-weight: normal;
    color: #ffffff;
}

ØŒui-menu-item-wrapper{
    font-size: 14px!important;

}

.notification-counter {
    text-align: center;
    /* padding: 5px; */
    background: #fb413b;
    color: #fff;
    border-radius: 25px;
    margin: 5px;
    /* FONT-WEIGHT: 200; */
    width: 25px;
    height: 25px;
    line-height: 1.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}